body {
    font-family: Arial, sans-serif;
    background-color: #ABC0D1;
}

#chat {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ABC0D1;
    padding: 10px;
    overflow-y: scroll;
    height: 80vh;
    margin-bottom: 70px;
}

#message-box {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    background-color: #ABC0D1;
    padding: 10px;
    box-sizing: border-box;
    height: 60px;
}

#nickname, #message {
    min-width: 50px;
    max-width: calc(50% - 5px);
    flex: 1;
    margin-right: 5px;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
}

#send {
    padding: 10px;
    flex-shrink: 0;
    background-color: white;
    box-sizing: border-box;
}

#chat div {
    width: 50%;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 5px;
    background-color: #FFEB34;
    color: black;
}

.my-message {
    margin-left: auto;
    text-align: left;
}

.other-message {
    margin-right: auto;
    text-align: left;
}
