body {
    font-family: Arial, sans-serif;
    background-color: #ABC0D1; /* Added background color */
}

#chat {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 10px;
    overflow-y: scroll;
    height: 400px;
}

#message-box {
    display: flex;
    justify-content: space-between;
    position: fixed; /* Position at the bottom */
    bottom: 0; /* Align to bottom */
    width: 100%; /* Full width */
    background-color: #ABC0D1; /* Match background color */
    padding: 10px;
}

#nickname, #message {
    flex: 1;
    margin-right: 5px;
    padding: 10px;
    background-color: white; /* Added background color for input fields */
}

#send {
    padding: 10px;
}

#chat div {
    width: 50%; /* Set width to 50% */
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 5px;
    background-color: #FFEB34; /* Background color for speech bubbles */
    color: black; /* Text color for speech bubbles */
}

.my-message {
    margin-left: auto; /* Right-align the current user's messages */
    text-align: left; /* Left-align text within the box */
}

.other-message {
    margin-right: auto; /* Left-align messages from other users */
    text-align: left; /* Left-align text within the box */
}
