<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Chat</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 style="text-align: center;">웹 채 팅</h1>
    <div id="chat"></div>
    <div id="message-box">
        <input type="text" id="nickname" placeholder="Nickname" required />
        <input type="text" id="message" placeholder="Message" required />
        <button id="send">Send</button>
    </div>
    <script src="{{ url_for('static', filename='core.js') }}"></script>
</body>
</html>
